In [114]:
import pandas as pd

In [116]:
# Load the original CSV
df = pd.read_csv('your_file_path.csv')

In [118]:
df.head()

,country_name,currency,employer_id,reimbursement_notice_id,payout_id,disbursed_at,user_id,ewa_amount,membership_fee,membership_fee_disc,...,late_fee_usd,write_off_usd,repayment_timeline,recycle_count,net_outstanding_exclude_membership,net_outstanding_include_membership,net_outstanding_usd_include_membership,repayment_amount,monthly_exchange_rate_xero,write_off_late_fees
0,Bangladesh,BDT,119,119.1297.01042022,105746,2022-03-22,27766,8900.0,100.0,0.0,...,3.300000,0.0,30.0,12.0,0.0,-17.437664,0.000000,NaN,110.0,0.0
1,Bangladesh,BDT,119,119.5920.01112023,896512,2023-10-19,27766,3600.0,100.0,0.0,...,0.218182,0.0,28.0,12.0,0.0,-7.958896,0.000000,NaN,110.0,0.0
2,Bangladesh,BDT,119,119.12678.01022025,2530264,2025-01-18,27766,10000.0,120.0,0.0,...,0.290909,0.0,NaN,NaN,10000.0,10149.997165,92.263636,NaN,110.0,0.0
3,Bangladesh,BDT,119,119.5920.01112023,906956,2023-10-22,27767,5000.0,100.0,0.0,...,0.300000,0.0,25.0,12.0,0.0,-10.970370,0.000000,NaN,110.0,0.0
4,Bangladesh,BDT,119,119.3500.01032023,402497,2023-02-26,27777,3000.0,100.0,0.0,...,2.609091,0.0,49.0,7.0,0.0,-5.729735,0.000000,NaN,110.0,0.0

In [120]:
pivot_table = pd.pivot_table(df, 
                             values=['ewa_amount','membership_fee','membership_fee_disc','disbursement_fee','outstanding_principal','outstanding_non_principal','outstanding_non_principal_with_tax'],  # Multiple columns
                             index='reimbursement_notice_id',            # Row categories
                             # columns='reimbursement_notice_id',           # Column categories
                             aggfunc='sum')               # Aggregation function

In [122]:
# Display the pivot table
print(pivot_table)

                         disbursement_fee  ewa_amount  membership_fee  \
reimbursement_notice_id
119.1002.01022022                     0.0    965500.0         43600.0
119.10071.01092024                 4860.0   1494900.0         54890.0
119.10488.01102024                 2280.0   1507700.0         72930.0
119.11001.01112024                13560.0   1506100.0         71190.0
119.1151.01032022                     0.0    893100.0         38000.0
...                                   ...         ...             ...
733.12866.01022025                  120.0      9700.0           600.0
734.12462.01012025                  400.0    305300.0          7770.0
734.12867.01022025                  600.0    427000.0         12780.0
742.12912.01022025                   40.0     31000.0           660.0
744.13045.01022025                  440.0    321200.0          5650.0

                         membership_fee_disc  outstanding_non_principal  \
reimbursement_notice_id
119.1002.01022022                     4300.0                        0.0
119.10071.01092024                    2200.0                        0.0
119.10488.01102024                    1950.0                        0.0
119.11001.01112024                       0.0                        0.0
119.1151.01032022                     1900.0                        0.0
...                                      ...                        ...
733.12866.01022025                       0.0                    10420.0
734.12462.01012025                       0.0                        0.0
734.12867.01022025                       0.0                   440380.0
742.12912.01022025                       0.0                    31700.0
744.13045.01022025                      50.0                   327240.0

                         outstanding_non_principal_with_tax  \
reimbursement_notice_id
119.1002.01022022                                       0.0
119.10071.01092024                                      0.0
119.10488.01102024                                      0.0
119.11001.01112024                                      0.0
119.1151.01032022                                       0.0
...                                                     ...
733.12866.01022025                                  10420.0
734.12462.01012025                                      0.0
734.12867.01022025                                 440380.0
742.12912.01022025                                  31700.0
744.13045.01022025                                 327240.0

                         outstanding_principal
reimbursement_notice_id
119.1002.01022022                          0.0
119.10071.01092024                         0.0
119.10488.01102024                         0.0
119.11001.01112024                         0.0
119.1151.01032022                          0.0
...                                        ...
733.12866.01022025                      9700.0
734.12462.01012025                         0.0
734.12867.01022025                    427000.0
742.12912.01022025                     31000.0
744.13045.01022025                    321200.0

[2115 rows x 7 columns]

In [124]:
# Save to CSV
pivot_table.to_csv('pivot_output.csv')